@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Jost", sans-serif;
}

input[type="file"]{
  opacity: 0;
  position: absolute;
}

.bg__overlay{
  background: rgba(0,0,0,0.6);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}

.btn{
  @apply w-full bg-primary2 p-3 rounded-lg text-center
}